.input_full{
  width: 100%;
}

.input_billing{
  width: 10%;
  border: none;
  border-bottom: 1px orange solid;
  text-align: center;
}



.input_billing:focus-visible{
  width: 10%;
  border: none;
  border-bottom: 1px orange solid;
}

@media print {
  @page { size: landscape; }
}

.txt_tittle{
  color:  #2b1a12;
}

.txt_tittle_2{
  color: #e06c00;
}



h5{
 font-size: 15px !important;
 margin-bottom: 15px;
}


h5:nth-child(1){
  text-decoration: underline;
  text-decoration-color: #e06c00;
  text-decoration-thickness: 3px;
  

  

}

h5:nth-child(2){
  text-decoration: underline;
  text-decoration-color: #2b1a12;
  

}